<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>hotdog?</title>
      <link href="{{ url_for('static', filename='index.css')}}" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   </head>

   <body>
         <h1>is it a hotdog?</h1>

		 <form action="{{server_address}}/result" method="POST" 
		 	enctype="multipart/form-data">

			 <div class="wrapper">
				<div class="file-upload">
				   <input type="file" name="file" alt="input image" accept=".png, .jpg, .jpeg"/>
				   <!-- <i class="icon"></i> -->
				   <!-- <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="75" height="69" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1600 1472"><path fill="white" d="M1579 779q0 51-37 90l-75 75q-38 38-91 38q-54 0-90-38L992 651v704q0 52-37.5 84.5T864 1472H736q-53 0-90.5-32.5T608 1355V651L314 944q-36 38-90 38t-90-38l-75-75q-38-38-38-90q0-53 38-91L710 37q35-37 90-37q54 0 91 37l651 651q37 39 37 91z"/></svg> -->
				   <!-- <i src="https://api.iconify.design/fa/arrow-up.svg"></i> -->
				</div>

				<div class="hero-image" style="height: 100%;">
					<div class="hero-text">
						<p>upload photo</p>
					</div>
				 </div>
			 </div>
			 
			
			 <input value="submit" type="submit" />
        </form>

   </body>
</html>